* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    background-color: #eee;
    font-family: 'Lato', sans-serif;
}

#page{
    margin: 30px;
}

h2{
    margin-bottom: 10px;
}

header {
    position: fixed;
    top: 0;
    max-height: 75px;
    padding: 0px 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #eee;
    position: relative;
}

#header-img{
    width: 70px;
}

li{
    list-style: none;
}

a{
    color: #000;
    text-decoration: none;
}

nav{
    font-weight: 400;
}

nav > ul {
    width: 35vw;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.container{
    max-width: 1000px;
  width: 100%;
  margin: 0 auto;
}

.grid{
    display: flex;    
}

#features{
    margin-top: 30px;
}
 
#features .icon{
    display: flex;
    align-items: center;
    justify-content: center;
  height: 125px;
  width: 20vw;
  color: darkorange;
}

#features .desc{
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 20px;
}

input{
    width: 100%;
    height: 2.5rem;
    border-radius: 0.5rem;
    margin-bottom: 10px;
    padding: 10px;
}

.submit-button{
    display: block;
    width: 100%;
    background-color: orange;
    border: none;
    padding: 0.75rem;
    color: white;
    border-radius: 5px;
}

#category {
    margin-top: 60px;
    display: flex;
    flex-direction: row;
    justify-content: center;
  }

.product{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: calc(100% / 3);
    border: 2px solid #000;
    border-radius: 5px;
    margin: 30px;
}

.level{
    text-transform: uppercase;
    background-color: antiquewhite;
    margin: 10px;
    padding: 10px;
}

.product > ol > li{
    padding: 5px;
    text-align: center;
}

.product > button{
    background-color: orange;
    margin: 15px;
    padding: 5px 10px;
    font-weight: 400;
}

@media screen and (max-width: 600px){
    #category{
        flex-direction: column;
        align-items: center;
    }
    .product{
        width: calc(100%/2);
    }
}

@media screen and (max-width: 470px){
    #features .icon{
        display: none;
    }
}


footer {
    margin-top: 30px;
    background-color: #ddd;
    padding: 20px;
}
  
footer > ul {
    display: flex;
    justify-content: center;
}
  
footer > ul > li {
    padding: 0 10px;
}